.hero-section {
    background: linear-gradient(90deg, rgba(240, 247, 255, 0.56), rgba(63, 156, 251, 0.4));
    padding: 5rem 0 8rem;
    display: flex;
    align-items: center;
    height: 70vh;
}

.hero-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-text {
    margin-bottom: 2.5rem;
    text-align: center;
}

.hero-text h1 {
    font-size: 4rem;
    color: #20303c;
    font-family: "Inter", sans-serif;
    margin-bottom: 1rem;
}

.hero-text h4 {
    color: #666;
    font-weight: 500;
    margin-bottom: 2rem;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-image img {
    width: 480px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .hero-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .hero-text {
        width: 50%;
        text-align: left;
        margin-bottom: 0;
    }

    .hero-image {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .hero-buttons {
        flex-direction: row;
    }
}
